@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="index-page-greeting">SoftUni Bazar</h1>
    <p class="index-page-greeting-p">The best marketplace</p>

    <img src="~/img/home.jpg" style="width: 75vh" />
</div>