table, td, tr, th{
    border: 1px solid #000000;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
}

.bold {
    font-weight: bold;
    text-align: center;
}

.result {
    width: 400px;
    text-align: left;
    padding-right: 5px;
}