@model ChatViewModel

@{
    ViewBag.Title = "Messages";
}

<h3>Messages:</h3>

@if (Model.Messages != null)
{
    @foreach (var message in Model.Messages)
    {
        <div class="card .bg-light col-6">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    @*Do not use Html.Raw() because it does not prevent you from XSS attacks!*@
                    <p>@Html.Raw(message.MessageText)<p>
                        <footer class="blockquote-footer">@message.Sender</footer>
                </blockquote>
            </div>
        </div>
    }
}
else
{
    <p>No messages yet!</p>
}

<p></p>
<form asp-controller="Chat" asp-action="Send" method="post" class="mb-3">
    <div class="form-group card-header row">
        <div class="col-12">
            <h5>Send a new message</h5>
        </div>
        <div class="col-8">
            <label>Message: </label>
            <textarea asp-for="CurrentMessage.MessageText"
                      class="form-control" rows="3"></textarea>
        </div>
        <div class="col-4">
            <label>Sender Name: </label>
            <input asp-for="CurrentMessage.Sender" class="form-control">
            <input class="btn btn-primary mt-2
                   float-lg-right" type="submit" value="Send" />
        </div>
    </div>
</form>

<div>
    Steps:
    <br />
    1. Send valid message and sender name:
    <pre>Hello!</pre> / <pre>Tomas</pre>
    <br />
    2. Send a script to trigger the XSS attack:
    <br />
    <pre>&ltscript&gtalert('Hacked!')&lt/script&gt</pre> / <pre>Hacker</pre>
</div>