body {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background: #234465;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

section {
    width: 60%;
    margin: 80px auto;
}

section h1 {
    text-align: center;
    font-size: 42px;
}

header p {
    font-style: italic;
}

footer {
    background: #234465;
    text-align: center;
    color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}