body {
    background: #02475e;
}

article h2 {
    font-size: 36px;
    color: #fefecc;
    margin: 12px;
    text-align: center;
}

article p {
    color: #eee;
    font-family: Arial, sans-serif;
    line-height: 24px;
    padding: 10px;
    text-indent: 30px;
}

article div {
    margin-bottom: 30px;
    border: 2px solid #ffffff;
    position: relative;
    top: 20px;
}

article div span {
    width: 120px;
    font-size: 16px;
    text-align: center;
    padding: 3px 5px 3px 5px;
    margin: 0 auto;
    background-color: #fff;
    display: block;
    position: relative;
    top:-11px;
}