@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

/* Header */
/* Navigation bar */

header {
    display: flex;
    flex-direction: column;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(217, 217, 217);
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

header button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2px;
    padding: 0.3rem 0.6rem;
    justify-content: flex-end;
}

header button a {
    text-decoration: none;
    color: #000;

}

/* Information bar */

.info {
    background-image: url("images/background.jpg");
    height: 70vh;
    background-size: cover;
    background-position: bottom;
}

.info .info-data {
    display: block;
    width: 35rem;
    margin-left: 10%;
    margin-top: 10%;
}

.info .info-data h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 4rem;
}

.info .info-data p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 2rem;
}

.info .info-data button {
    background-color: #000;
    border: 1px solid #000;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}

.info .info-data button a {
    text-decoration: none;
    color: #fff;
}

/* Statistics bar */

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: inherit;
    margin: auto;
    background-color: white;
    padding: 5rem 2rem;
    gap: 4rem;
}


.stats .item h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #ff7847;
    margin-bottom: 2rem;
    text-align: center;
}

.stats .item h3 {
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}

.stats .item p {
    font-size: 0.9rem;
    color: #000;
    font-weight: 400;
    text-align: center;
}

/* Main */
/* Main section Features */

.features {
    background-color: rgb(217, 217, 217);
    padding: 1rem 2rem;
}

.features article {
    width: 90%;
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
}

.features article .picture img {
    width: 500px;
    object-fit: cover;
}

.features article .contents p:first-of-type {
    text-transform: uppercase;
    color: #7e7d7e;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.features article .contents h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 3rem;
}

.features article .contents p:nth-child(3) {
    font-size: 1rem;
    color: #7e7d7e;
    margin-bottom: 0.5rem;
}

.features article .contents a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.features article .contents p:nth-child(5) {
    font-size: 1rem;
    color: #7e7d7e;
    margin-top: 2rem;
}

/* Main section Pricing */

.pricing {
    background-color: #f5f5f5;
}

.price-container {
    width: 90%;
    background-color: white;
    display: flex;
    margin: auto;
    padding: 4rem;
    gap: 2rem;
    height: 500px;
}

.pricing .price-plan {
    width: 50%;
}

.pricing .price-plan h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.pricing .price-plan p {
    font-size: 1.2rem;
    color: #7e7d7e;
    margin-bottom: 1rem;
}

.pricing .price-plan-light {
    background-color: #ff7c4c;
    color: #000;
    height: 100%;
    width: 45%;
    border-radius: 5px;
    text-align: center;
    gap: 3rem;
}

.pricing .price-plan-light h2 {
    margin: 1rem 0;
}

.pricing .price-plan-light h3 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.pricing .price-plan-light ul li {
    list-style: none;
    margin: 0.8rem;
}

.pricing .price-plan-light ul li span {
   font-weight: bold;
}

.pricing .price-plan-light ul li:last-of-type {
    font-weight: bold;
}

.pricing .price-plan-light button {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 0.3rem;
    color: white;
    margin: 1.25rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}


.pricing .price-plan-dark {
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 45%;
    border-radius: 5px;
    text-align: center;
    gap: 3rem;
}

.pricing .price-plan-dark h2 {
    margin: 1rem 0;
}

.pricing .price-plan-dark h3 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.pricing .price-plan-dark ul li {
    list-style: none;
    margin: 0.8rem;
}

.pricing .price-plan-dark ul li span {
    font-weight: bold;
}

.pricing .price-plan-dark ul li:last-of-type {
    font-weight: bold;
}

.pricing .price-plan-dark button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.3rem;
    color: black;
    margin: 1.25rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}

/* Footer */

footer {
    background-color: rgb(217, 217, 217);
    color: #000;
}

.referrals {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.referrals li {
    list-style: none;
    padding: 2rem;
}

.referrals li a {
    margin: 0 10rem;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}
