div {
    width: 160px;
    height: 80px;
    padding: 20px;
    border: 8px solid blue;
    background: coral;
}

.content-box{
    box-sizing: content-box;
}

.border-box{
    box-sizing: border-box;
}
