@{
    ViewData["Title_1"] = "Home Page -> ViewData";
    ViewBag.Title = "Home Page -> View Bag";
}

<h2>@ViewData["Title_1"]</h2>
<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>
<h3>@ViewData["World"]</h3>

<p>This is the Home page</p>
