@media screen and (max-width: 600px) {
    .home-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home-links-container {
        margin-left: 2em;
    }

    .home-cta-btn {
        padding-right: 20px;
        padding-left: 20px;
    }

    .home-hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .home-image1 {
        width: 100%;
        object-fit: cover;
    }

    .home-hero-text-container {
        width: 100%;
        margin-left: 0px;
        align-items: center;
    }

    .home-cta-btn2 {
        padding-right: 10px;
        padding-left: 10px;
        align-self: center;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .home-cards-container > div {
        width: 100%;
        object-fit: cover;
        font-size: 16px;
    }

    .home-cards-container > div > img {
        width: 400px;
        height: 300px;
    }
    
    .home-features {
        height: 1800px;
    }

    .home-stats {
        display: flex;
        flex-direction: column;
    }

}