@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Our App will demonstrate you what an <b>XSS</b> attack is!</p>

    <p>
        Steps:
        <br />
        1. Visit the <a asp-controller="Chat" asp-action="Show">Chat page</a>
        <br />
        2. Follow the steps on the above page
    </p>
</div>
