global:
  scrape_interval: 15s
  evaluation_interval: 10s

rule_files:
  - alert-rules-blackbox-exporter.yml

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - localhost:9093

scrape_configs:
  - job_name: "blackbox"
    metrics_path: /probe
    static_configs:
      - targets:
        - https://softuni.org
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9115
