@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body {
  background: linear-gradient(#e6e6e6, #bbbbbb);
  background-position: 0% 70%;
  background-image: url("https://images.pexels.com/photos/356065/pexels-photo-356065.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Dancing Script', cursive;
}

h1 {
  padding: 0px 50px;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  color: #000000;
}

h2 {
  font-family: sans-serif;
  font-size: 24px;
  color: #413f3f;
  text-align: start;
  margin: 0;
}
h3 {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  color: #4e4c4c;
  margin: 0;
  padding: 50px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 1px;
  color: #4e4c4c;
  font-size: large;
}

p {
  text-decoration: none;
  color: #9eb2c0;
  margin: 7px 7px 7px 0px;
}

textarea {
  border-color: #dae4eb;
  color: #dae4eb;
  border-radius: 10px;

}

input[type="text"] {
  border: solid 1px black;
  border-radius: 10px;
}

span{
  font-size: 60px;
  color: #464646;
  font-weight: 500;
  
}

.bar {
  background-color: #d2dfe9f4;
  border-radius: 9px;
  /* margin-top: 100px; */
  height: 50px;
}

#next-btn {
  display: inline-block;
  line-height: 35px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  background: #333232;
  color: #ffffff;
  border: 1px solid black;
  text-align: center;
  outline: none;
  width: 100px;
  border-radius: 10px;
}

.action-btn {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: #89abf3;
  color: #ffffff;
  text-align: center;
  float: right;
  margin-right: 3px;
  margin-bottom: 3px;
  border: none;
  outline: none;
  
}

#clear-btn {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: #f97e76;
  color: #ffffff;
  text-align: center;
  margin: auto;
}

#main {
display: flex;
align-items:center;
justify-content:space-around;

}

#left-container {
 margin-top: 50px;

}

#newApply{
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
  width: 350px;
  border-radius: 20px;
  background-color: #d2dfe9f4;
}

.applyContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#student,
#university {
  width: 250px;
  height: 45px;
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: bold;
}

#score{
  width: 220px;
  border-radius: 10px;
  color: black;
  margin: 0 0 20px 0;
  font-size: 19px;
  font-weight: bold;
  padding: 15px;
  border: 1px solid black;
}

#right-container {
  margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.application {
  width: 90%;
  margin-bottom: 5px;
  display: inline-block;
}
.application span:first-child {
  color: #f97e76;
  font-size: 15px;
  font-weight: bold;
  line-height: 150%;
}

.application article {
display: flex;
align-items: center;
gap: 20px;
margin-top: -50px;
font-family: 'Courier New', Courier, monospace;
}

.application article h4,p {
color: #000000;
font-size: 18px;
}

#preview-list button{
  padding: 5px;
  float:left;
  margin-left: 20px;
}

.application strong {
  color: grey;
}


.container {
  border-radius: 20px;
}

.title-bar{
  width: 450px;
  height: 170px;
}
#candidates-container {
  margin-top: 100px;
}
.board{
  height: 280px;
}
#candidates-list > li {
  border-bottom: 1px solid black;
  padding: 0;
}

#next-btn:disabled {
  background-color: rgb(204, 0, 0);
}
