include header.pug

h1 Register New Student
form(method='POST' action='/add-student')
  div
    label(for='name') Name: 
    input#name(type='text', name='name')
  div
    label(for='email') Email: 
    input#email(type='email',  name='email')
  button(type='submit') Add

include footer
