body {
    font-family: Helvetica, sans-serif;
}

header {
    position: relative;
    border-bottom: 2px solid black;
    padding: 20px;
}

header h1 {
    display: inline-block;
}

header ul {
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
}

nav * {
    display: inline-block;
    margin: 0 12px;
    text-decoration: none;
    color: green;
    padding-bottom: 5px;
}

main h2{
    font-size: larger;
    margin-top: 20px;
}