body {
    background: lightslategray;
}

p {
    width: 300px;
    padding: 20px;
    margin: auto;
    background-color: #0F4069;
    border: 2px solid #e6eaef;
    border-radius: 15px 50px 15px 50px;
    color: white;
}