@{
    ViewData["Title"] = "Change Your Password";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<br>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form action="/Profile/ChangePassword" method="post">
            <label>New Password:</label>
            <input name="newPass" type="password" class="form-control" />
            <br />
            <label>New Password Confirm:</label>
            <input name="newPassConfirm" type="password" class="form-control" />
            <br />
            <button type="submit" class="btn btn-primary offset-4">Change</button>
        </form>
    </div>
</div>