body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

header, main, aside, footer {
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    box-shadow: 0 0 5px 5px rgb(225, 225, 225);
}

header {
    flex-basis: 100%;
    height: 5rem;
}

footer {
    flex-basis: 100%;
    height: 4rem;
}

main {
    flex: 8 1 40rem;
    height: 10rem;
}

aside {
    flex: 2 1 20rem;
}