@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
    font-family: 'Montserrat', sans-serif;
    padding: 16px;
}

table thead th {
    background-color: lightblue;
}

th, td {
    width: 144px;
    height: 32px;
    padding-left: 5px;
    border: 1px solid #CCC;
    border-collapse: collapse;
}