.flex-container {
    display: flex;
    background-color: DodgerBlue;
    width: 300px;
    height: 200px;
    align-items: center;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
