route:
  group_by: ["alertname"]
  group_wait: 1m
  group_interval: 5m
  repeat_interval: 1h
  receiver: "web.hook"

receivers:
  - name: "web.hook"
    webhook_configs:
      - url: "https://webhook.site/19bee13c-bc0a-490b-9ed3-8eeb341bf156"
